PORT=1000
MONGODB_URI=your_mongodb_connection_string_here
JWT_SECRET=replace_this_with_a_long_random_string
CLOUDINARY_CLOUD_NAME=your_cloud_name_here
CLOUDINARY_API_KEY=your_api_key_here
CLOUDINARY_API_SECRET=your_api_secret_here

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_login_email
SMTP_PASS=your_generated_smtp_key
EMAIL_FROM=your_verified_sender_email